body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    /* background-color: black; */
}
.main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    margin-top: 80px;
    margin-bottom: 0;
    min-height: 100vh;
    overflow: hidden;
}

.site-content{
    height: 100vh;
    background-color: black;
}
/* .container img {
    display: block;
    width: 100%;
} */


nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 100px;
    background-color: black;
}
nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}
#nav-logo{
    height: 90px;
}
nav .logo h2{
    margin-left: 10px;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: 200ms ease-in;
}

nav .links a:hover {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color:rgb(48, 175, 230);
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

#welcome{
    cursor: default;
}
#welcome:hover{
    color: white;
}

@media screen and (max-width: 1200px){
    .img-box{
        display: none;
    }

    section{
        max-width: 1000px;
    }
}


@media screen and (max-width: 768px) {

    .about-left-col{
        flex-basis: 0%;
    }
    #about p {
        color: white;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    .about-left-col img{
        width: 100%;
    }
    
    .about-right-col{
        
        flex-basis: 100%;
        text-align: center;
    }
    .about-text{
        max-width: 500px;
        margin-right: 0;
        display: inline-block;
    }
    
    nav .logo img{
        float: none;
        width: auto;
        justify-content: left;
    }
    
    nav .logo h2{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    
    .img-box{
        display: none;
    }
}
/* Home Page */
.home{
    margin-top: 180px;
    margin-left: 125px;
}

.home h1{
    background-color: black;
    color: white;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 0;
}

.home h4{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}
.home p{
    color: white;
    line-height: 22px;
}

.home a{
    color:rgb(48, 175, 230);
    display: inline;
    text-decoration: none;
}

.ig-logo{
    size: 40px 40px;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right:100px;
    margin-bottom: 110px;
}

.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition:bottom 1s, left 1s;
}

.img-box:hover .back-img{
    bottom: 40px;

}

.img-box:hover .front-img{
    left: 54%;
}
/* Register and Login pages */
#register{
    text-align: center;
}

h4{
    color: white;

}

textarea{
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    outline: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none !important;
    
}

#create-publication textarea {
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 436px;
    height: 80px;
    outline: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none !important;
    
}

#edit-publication textarea {
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 436px;
    height: 80px;
    outline: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none !important;
    
}

.container {
    background-color: black;
    padding: 16px;
    text-align: center;
    width: 500px;
    margin: auto;
}

.comment{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.comment h4{
    margin-top: 0;
    margin-bottom: 5px;
}

.comment h2{
   
    color: white;
    margin-bottom: 5px;
}

.recent-comments{
    margin-top: 10px;
}

input[type="text"], input[type="number"], input[type="password"] {
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 450px;
    border: none;
    background-color: black;
    border: 2px solid white;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    resize: vertical;
    font-family: 'Quicksand', sans-serif;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
    background-color: black;
    outline: none;
    padding: 20px 10px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

h1{
    color: white;
    font-size: 40px;
}

h2{
    color: white;
    /* font-size: 30px; */
}

h3{
    color: white;
    
}

#register p{
    color: white;
    font-size: 18px;
}

form hr{
    margin-bottom: 10px;
}

input[type="submit"]{
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


input[type="submit"]:hover{
    background-color: rgb(48, 175, 230);
    border: 2px solid rgb(48, 175, 230);
    border-radius: 10px;
    color: black;
    padding: 10px;
    width: 100px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.signin a{
    color:rgb(237, 148, 38);
    text-decoration: none;
}

#login p{
    color: white;
    font-size: 18px;
}

/* Catalogue Page */

#catalogue h1{
    color:rgb(237, 148, 38);
    font-size: 75px;
}

#catalogue{
    margin: auto;
    text-align: center;
}  

.illustrations {
    margin: auto;
    text-align: center;
}

.illustration {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    padding: 30px 50px;
    width: 350px;
    margin: 15px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 2px solid white;
}

.preview {
    height: 150px;
    width: 250px;
    text-align: center;
}

.preview>img {
    object-fit: contain;
    height: 150px;
    width: 250px;
}

.no-illustrations {
    margin: auto;
    font-size: 30px;
    text-align: center;
}


.button-details {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-details:hover {
    background-color: rgb(48, 175, 230);
    border: 2px solid rgb(48, 175, 230);
    border-radius: 10px;
    color: black;
    padding: 10px;
    width: 100px;
    margin: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* About Me page */

#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col{
    flex-basis: 50%;
}

.about-left-col img{
    width: 100%;
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

#about p {
    color: white;
    font-size: 18px;
}

.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h1{
    color:rgb(48, 175, 230);
    font-size: 75px;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
    color:rgb(237, 148, 38);
}

#illustration-details p{
    color: white;
}

.illustrations-buttons {
    text-align: center;
    margin: auto;
    margin-top: 34px;
}

.delete-button {
    
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.edit-button {
    
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.edit-button:hover {
    background-color: rgb(48, 175, 230);
    border: 2px solid rgb(48, 175, 230);
    border-radius: 10px;
    color: black;
    padding: 10px;
    width: 100px;
    margin: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete-button:hover{
    background-color: rgb(237, 148, 38);
    border: 2px solid rgb(237, 148, 38);
    border-radius: 10px;
    color: black;
    padding: 10px;
    width: 100px;
    margin: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.details-info {
    
    max-width: 700px;
    margin: auto;
}

.details-info>img {
    display: block;
    margin-top: 20px;
    margin: auto;
    margin-bottom: 16px;
    max-height: 455px;
}

.description-para {
    margin-top: 16px;
    font-size: 16px;
}

hr{
    color:rgb(48, 175, 230);
}


footer{
    background-color: rgb(48, 175, 230);
    height: auto;
    width: 100vw - 17px;
    padding: 20px 0;
    margin-top: 0;
    color: black;
    bottom: 0;
    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



#edit-publication p{
    color: white;
}

#create-publication p{
    color: white;
}
